h1 {
    text-align: center;
}


*{
    padding: 0;
    margin: 0;
    font-family: roboto condensed;
}

.crm-container img{
    width:200px;
    display: block;
    margin: 0 auto;
    margin-top:40px;
}

.toggle-table-display{
margin: 0 auto;
display: block;
width:150px;
}

 