.scene {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding-top:100px;
}

.sun {
  width: 150px;
  height: 150px;
  background: radial-gradient(circle, #ffcc00, #ff6600);
  border-radius: 50%;
  position: absolute;
  bottom: 50px;
}

.horizon {
  width: 100%;
  height: 200px;
  background: black;
  position: absolute;
  bottom: 0;
}
