@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.matrix-container {
  position: relative;
  width: 100vw;
  height: 130vh;
  background: black;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* The actual Matrix falling code effect */
.matrix-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Overlaying text for the schedule */
.matrix-schedule {
  position: absolute;
  color: #00ff00;
  font-family: "Share Tech Mono", monospace;
  text-align: center;
  z-index: 10;
 
  padding: 20px;
  padding-top:150px;
  border-radius: 10px;
}

.matrix-schedule h1 {
  font-size: 3.5rem;
  text-shadow: 0 0 10px #00ff00;
  margin-bottom: 20px;
}

/* Glowing green schedule text */
.schedule-container h4 {
  font-size: 2.5rem;
  text-shadow: 0 0 5px #00ff00;
}
