.schedule-container{


    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    top: -200px;
 
 
 
    
}

.schedule-container h4{
    width: fit-content;
    text-align:center;
    font-size: 15px;
    margin: 10px auto;
    white-space: nowrap
 
}

.schedule-container img{
    margin-top: 25px;
    display: block;
    
}

.schedule-container h1{
    font-family:"Fugaz One"; font-weight:400; margin-bottom: 50px;;
font-size: 40px;
font-weight: 400;
margin-bottom:15px

}



    .weekday {
        margin-bottom: 15px auto;
       
        display: inline-block; /* Prevents it from stretching to full width */
      
    }

    hr {
         height: 1px; /* Thickness of the line */
        background-color: black; /* Line color */

        width:30vw;

      }
      
 .header{
    display: flex;
    justify-content: center;
 }

 .header-arrow{
    font-size: 20px;
 }