.schedule-container{
    margin-top: 100px;
    height:100vh;
    width:100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
 
    
}

.schedule-container h4{
    width: fit-content;
    text-align:center;
     
 
}

.schedule-container img{
    margin-top: 25px;
    display: block;
    
}

.schedule-container h1{
font-family: roboto condensed;
font-size: 50px;
font-weight: 400;

}



    .weekday {
        margin-bottom: 15px;
        position: relative;
        position: relative;
        display: inline-block; /* Prevents it from stretching to full width */
    }

    hr {
         height: 1px; /* Thickness of the line */
        background-color: black; /* Line color */

        width:30vw;

      }
      
 .header{
    display: flex;
    justify-content: center;
 }

 .header-arrow{
    font-size: 20px;
 }